{% extends "base.html" %}

{% block content %}
<h2 class="card-title mb-4">Contact Me</h2>
<div class="row justify-content-left">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-sm border-0">
        <div class="card-body p-5">
          
          <form method="POST" novalidate>
            {% csrf_token %}
            
            {% for field in form %}
              <div class="mb-3">
                {{ field.label_tag }}
                {{ field }} 
                
                {% if field.errors %}
                  <div class="invalid-feedback d-block">
                    {{ field.errors }}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
            
            <button type="submit" class="btn btn-primary w-100 mt-3">Submit</button>
          </form>
          
        </div>
      </div>
    </div>
  </div>
{% endblock content %}