{% extends "base.html" %}
{% load static %}

{% block content %}
  <h2 class="mb-4">My Projects</h2>
  <div class="row">
    {% for project in projects %}
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          {% if project.image %}
            <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">{{ project.description|truncatewords:20 }}</p>
            <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}